<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">
      Datos de producto del proceso número {{currentEdition}}
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <table datatable class="table table-striped table-bordered table-sm row-border hover">
          <thead>
          <tr>
            <th>tipo de producto ingresado</th>
            <th>Cantidad de producto ingresado</th>
            <th>Catalizador usado</th>
            <th>Cantidad de catalizador</th>
            <th>Fecha de reporte</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{singleProductData.tipoProducto_regProducto}}</td>
            <td>{{singleProductData.cantProducto_regProducto}} {{singleProductData.unidadMedida_regProducto}}</td>
            <td>{{singleProductData.catalizador? 'Usado' : 'No usado'}}</td>
            <td>{{singleProductData.catalizador_Cant}} {{singleProductData.catalizador_Med}}</td>
            <td>{{singleProductData.deteTime_regProducto}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #contentPr let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic">
      Datos de producción del proceso número {{currentEdition}}
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)=
              "modal.dismiss('Cross click')">

            <span aria-hidden="true">
                ×
            </span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <table datatable class="table table-striped table-bordered table-sm row-border hover">
          <thead>
          <tr>
            <th>Fecha de inicio</th>
            <th>Fecha de finalización</th>
            <th>tipo de ingreso</th>
            <th>Cantidad de ingreso</th>
            <th>Tipo de líquido producido</th>
            <th>Cantidad</th>
            <th>Tipo de sólido producido</th>
            <th>Cantidad</th>
            <th>Tipo de gas producido</th>
            <th>Cantidad</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{singleProductionData.fechaInicio_contProduction}}</td>
            <td>{{singleProductionData.fechaFin_contProduction}}</td>
            <td>{{singleProductionData.tipoIngreso_contProduction}}</td>
            <td>{{singleProductionData.cantIngreso_contProduction}} {{singleProductionData.unidadIngreso_contProduction}}</td>
            <td>{{singleProductionData.tipoLiquido_contProduction}}</td>
            <td>{{singleProductionData.cantLiquido_contProduction}} {{singleProductionData.unidadLiquido_contProduction}}</td>
            <td>{{singleProductionData.tipoSolido_contProduction}}</td>
            <td>{{singleProductionData.cantSolido_contProduction}} {{singleProductionData.unidadSolido_contProduction}}</td>
            <td>{{singleProductionData.tipoGas_contProduction}}</td>
            <td>{{singleProductionData.cantGas_contProduction}} {{singleProductionData.unidadGas_contProduction}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</ng-template>
<div class="container-sm ">

    <div class="row text-center ">
    <img src="assets/Img/logoSena.png"
      class="imgLS d-inline-block col mr-2"/>
    <h3 class="col">Reportes de proceso</h3>
    <img src="assets/Img/LogoGIDEMP.jpg"
      class="imgLS d-inline-block  col mr-2 float-end"/>
    </div><hr>
</div>
<div class="container text-center">

    <div class="row">
      <div class="col mb-3 ">

            <div class="container">
                <div class="row">

                    <div class="form-group col-sm-3">
                        <label  class="form-label">Fecha Inicio:</label>
                        <input class="form-control" type="datetime-local" class="dateadded form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label  class="form-label">Hasta:</label>
                        <input class="form-control" type="datetime-local" class="dateadded form-control">
                    </div>


                 </div>
            </div>
        </div>
      </div>


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dataTables-example" class="table table-striped table-bordered table-sm row-border hover">

      <thead>
        <tr>
          <th>Número</th>
          <th>Fecha de reporte</th>
          <th>Fecha/hora Proceso</th>
          <th>Operario</th>
          <th>verificación  Encendido</th>
          <th>Verificación de cierre</th>
          <th>Anotaciones</th>
          <th>Proceso Terminado con éxito</th>
          <th>Datos de producción</th>
          <th>Datos de producto</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor = "let e of processData">
          <td>{{e.id_Proceso}}</td>
          <td>{{e.horaReporte_Proceso}}</td>
          <td>{{e.horaCorrida_Proceso}}</td>
          <td>{{e.operador_Proceso}}</td>
          <td>{{e.verificarEnergia_Proceso}}</td>
          <td>{{e.verificarCierre_Proceso}}</td>
          <td>{{e.annotations_Proceso}}</td>
          <td>{{e.success_Proceso}}</td>
          <td>
            <a *ngIf="productionFilled.includes(e.id_Proceso)"><button (click)="open(contentPr, e.id_Proceso); getProduction(e.id_Proceso)">Ver datos de producción</button></a>
            <a *ngIf="!productionFilled.includes(e.id_Proceso)"><button (click)="showFormulary('production', e.id_Proceso)">Añadir datos de producción</button></a>
          </td>
         <td>
           <a *ngIf="productFilled.includes(e.id_Proceso)"><button (click)="open(content, e.id_Proceso); getProduct(e.id_Proceso)">Ver datos de producto</button></a>
           <a *ngIf="!productFilled.includes(e.id_Proceso)">No se encuentran datos de cargue</a>
         </td>
         </tr>
      </tbody>
    </table>
    <div class="d-flex mt-4">
      <div class="form-group col-sm-6 mt-3 ">
        <label  class="form-label mr-5">Generar Reporte:</label>
        <button  type ="button" class="btn btn-danger "><i class="fa fa-print"></i>  PDF</button>
      </div>
      <button (click)="showFormulary('new', 0)" type="submit" class="btn btn-iniciar btn-primary btn-lg mr-2" >Nuevo proceso</button>
    </div>

<!--  Formularios-->
<!--  Registrar proceso nuevo-->
  <div *ngIf="registeringProcess" class="contenedor-formulario justify-content-center" >

    <form class="mt-4" autocomplete="off">

      <h3 class="titulo-login">Registrar Control de Proceso</h3>

      <div class="form-row">
        <div class="row">
          <div class="form-group col-md-8 mb-3">
            <label class="col-form-label">Fecha y hora</label>
            <input [(ngModel)]="newProcessToSend.horaCorrida_Proceso" name="date" type="datetime" class="form-control">
          </div>

        </div>
      </div>

<!--      <div class="form-group mb-3">-->
<!--        <label class="col-form-label">Operador</label>-->
<!--        <input [(ngModel)]="newProcessToSend.operador_Proceso" name="ope" type="text" class="form-control">-->
<!--      </div>-->

      <div class="form-group mb-3">
        <label class="col-form-label">Verificación de Encendido</label>
        <select [(ngModel)]="newProcessToSend.verificarEnergia_Proceso" name="energy" class="form-select" aria-label="default Select Example">
          <option value="true">Realizada</option>
          <option value="false">No Realizada</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="col-form-label">Verificación de Cerrado</label>
        <select [(ngModel)]="newProcessToSend.verificarCierre_Proceso" name="close" class="form-select" aria-label="default Select Example">
          <option value="true">Realizada</option>
          <option value="false">No Realizada</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Anotaciones</label>
        <input [(ngModel)]="newProcessToSend.annotations_Proceso" name="ann" type="text" class="form-control">
      </div>

      <div class="mb-3">
        <label class="col-form-label">Resultado del proceso</label>
        <select [(ngModel)]="newProcessToSend.success_proceso" name="res" class="form-select" aria-label="default Select Example">
          <option value="true">Éxito</option>
          <option value="false">Fracaso</option>
        </select>
      </div>

      <div class="contedor-btn-iniciar mt-3">
        <button (click)="newProcess()" type="submit" class="btn btn-iniciar btn-primary btn-lg" >Guardar</button>
      </div>

    </form>
  </div>
<!--  Registrar nuevo reporte de producción-->
  <div *ngIf="registeringProduction" class="contenedor-formulario col-md-5 mt-5  mt-5 justify-content-center" >

    <form class="mt-4" autocomplete="off">

      <h3 class="titulo-login">Registrando control de producción para proceso número {{currentEdition}}</h3>

      <div class="form-row">
        <div class="row">
          <div class="form-group col-md-8 mb-3">
            <label class="col-form-label">Fecha y hora de inicio</label>
            <input [(ngModel)]="newProductionToSend.fechaInicio_contProduction" type="datetime-local" class="form-control" name="date1">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="row">
          <div class="form-group col-md-8 mb-3">
            <label class="col-form-label">Fecha y hora de finalización</label>
            <input [(ngModel)]="newProductionToSend.fechaFin_contProduction" type="datetime-local" class="form-control" name="date2">
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Tipo de producto ingresado</label>
        <input [(ngModel)]="newProductionToSend.tipoIngreso_contProduction" type="text" class="form-control" name="typeIn">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Cantidad de producto ingresado</label>
        <input [(ngModel)]="newProductionToSend.cantIngreso_contProduction" type="number" class="form-control" name="amountIn">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Unidad de medida Ingreso</label>
        <input [(ngModel)]="newProductionToSend.unidadIngreso_contProduction" type="text" class="form-control" name="measureIn">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Tipo de líquido producido</label>
        <input [(ngModel)]="newProductionToSend.tipoLiquido_contProduction" type="text" class="form-control" name="lqType">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Cantidad de líquido producido</label>
        <input [(ngModel)]="newProductionToSend.cantLiquido_contProduction" type="number" class="form-control" name="lqMes">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Unidad de medida de líquido</label>
        <input [(ngModel)]="newProductionToSend.unidadLiquido_contProduction" type="text" class="form-control" name="lqUm">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Tipo de sólido producido</label>
        <input [(ngModel)]="newProductionToSend.tipoSolido_contProduction" type="text" class="form-control" name="slType">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Cantidad de sólido producido</label>
        <input [(ngModel)]="newProductionToSend.cantSolido_contProduction" type="number" class="form-control" name="slMes">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Unidad de medida de sólidos</label>
        <input [(ngModel)]="newProductionToSend.unidadSolido_contProduction" type="text" class="form-control" name="slUm">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Tipo de gas producido</label>
        <input [(ngModel)]="newProductionToSend.tipoGas_contProduction" type="text" class="form-control" name="gsType">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Cantidad de gas producido</label>
        <input [(ngModel)]="newProductionToSend.cantGas_contProduction" type="number" class="form-control" name="gsMes">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Unidad de medida de gases</label>
        <input [(ngModel)]="newProductionToSend.unidadGas_contProduction" type="text" class="form-control" name="gsUm">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Id de Laboratorio</label>
        <input [(ngModel)]="newProductionToSend.labID" type="number" class="form-control" name="labId">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Descripción de laboratorio</label>
        <input [(ngModel)]="newProductionToSend.labDesc" type="text" class="form-control" name="lqType">
      </div>

      <div class="contedor-btn-iniciar mt-3">
        <button (click)="newProduction()" type="submit" class="btn btn-iniciar btn-primary btn-lg" >Guardar</button>
      </div>

    </form>
  </div>
<!--  Registrar producto-->
<!--  <div *ngIf="registeringProduct" class="contenedor-formulario col-md-5 mt-5  mt-5 justify-content-center" >
    <form class="mt-4" autocomplete="off">

      <h3 class="titulo-login">Registrando datos de producto para proceso número {{currentEdition}}</h3>

      <div class="form-group mb-3">
        <label class="col-form-label">Tipo de producto</label>
        <input [(ngModel)]="newProductToSend.tipoProducto_regProducto" type="text" class="form-control" name="Tipo">
      </div>

      <div class="form-group mb-3">
        <label class="col-form-label">Subproducto</label>
        <input [(ngModel)]="newProductToSend.subProducto_regProducto" type="text" class="form-control" name="Sub_Producto">
      </div>

      <div class="mb-3">
        <label class="form-label">Detalle</label>
        <input [(ngModel)]="newProductToSend.detalle_regProducto" type="text" class="form-control" id="Detail" name="Detalle">
      </div>

      <div class="mb-3">
        <label class="form-label">Cantidad</label>
        <input [(ngModel)]="newProductToSend.cantProducto_regProducto" type="number" class="form-control" id="amount" name="Can_Producto">
      </div>
      <div class="mb-3">
        <label class="form-label">Unidad de Medida</label>
        <input [(ngModel)]="newProductToSend.unidadMedida_regProducto" type="text" class="form-control" id="measureUnit" name="Unidad_Medida">
      </div>

      <div class="contedor-btn-iniciar mt-3">
        <button (click)="newProduct()" type="submit" class="btn btn-iniciar btn-primary btn-lg">Guardar</button>
      </div>

    </form>
  </div> -->

</div>


