<div class="contenedor-formulario col-md-5 mt-5 shadow-lg mt-5" >

  <form class="mt-4" autocomplete="off" [formGroup]="formulario">

    <h3 class="titulo-login">Registrar Control de Proceso</h3>

    <div class="form-row">
      <div class="row">
        <div class="form-group col-md-8 mb-3">
          <label class="col-form-label">Fecha y hora</label>
          <input type="datetime-local" ng-model="valueofdate" class="form-control" id="startDateTime" [(ngModel)]="process.date">
        </div>

      </div>
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Operador</label>
      <input type="text" class="form-control" id="productIn">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Verificación de Encendido</label>
      <select class="form-select" aria-label="default Select Example" id="power" [(ngModel)]="process.powerVerify">
        <option value="true">Realizada</option>
        <option value="false">No Realizada</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="col-form-label">Verificación de Cerrado</label>
      <select class="form-select" aria-label="default Select Example" id="close" [(ngModel)]="process.closeVerify">
      <option value="true">Realizada</option>
      <option value="false">No Realizada</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Anotaciones</label>
      <input type="text" class="form-control" id="unidadmed" formControlName="Annotations" >
    </div>

    <div class="contedor-btn-iniciar mt-3">
      <button type="submit" class="btn btn-iniciar btn-primary btn-lg" (click)="registerProcess()">Guardar</button>
    </div>

  </form>
</div>
