<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebar"
      aria-controls="offcanvasExample"
    >
      <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
    </button>
    <a 
      class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
      href="#"
      >
      <img src="assets/Img/logoSena.png"  width="40" 
      class="d-inline-block aling-top mr-2"/>
      Sistema Reactor
      <img src="assets/Img/logo_astin.png"  width="60" 
      class="d-inline-block aling-top mr-8"/>
      <img src="assets/Img/LogoSENNOVA.jpeg"  width="60" 
      class="d-inline-block aling-top mr-2"/>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topNavBar"
      aria-controls="topNavBar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavBar">
      <form class="d-flex ms-auto my-3 my-lg-0">
        <div class="input-group">
          
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle ms-2"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          {{authServices.usuario.email}} 
          <img [src]="authServices.usuario.foto" alt="hugenerd" width="30" height="30" class="rounded-circle">
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby = "navbarDropdown">
            <li><a class="dropdown-item" (click)="LogOut()" >Cerrar Sesion</a></li>
          </ul>

        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- top navigation bar -->
<!-- offcanvas -->
<div
  class="offcanvas offcanvas-start sidebar-nav bg-dark"
  tabindex="-1"
  id="sidebar"
>
  <div class="offcanvas-body p-0">
    <nav class="navbar-dark">
      <ul class="navbar-nav">
 
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none mt-3">
          <span class="fs-5 d-none d-sm-inline">Menu: <a>{{authServices.usuario.nombre}}</a></span>
      </a>

        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            CORE
          </div>
        </li>
        <li>
          <a routerLink="/dashboard" class="nav-link px-3 active">
            <span class="me-2"><i class="bi bi-speedometer2"></i></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            Interface
          </div>
        </li>

        <li>
          <a routerLink="/registro" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-book-fill"></i></span>
            <span>Gestionar Usuario</span>
          </a>
        </li>

        <li>
          <a
            class="nav-link px-3 sidebar-link"
            data-bs-toggle="collapse"
            href="#OpManuales"
          >
            <span class="me-2"><i class="bi bi-layout-split"></i></span>
            <span>Operaciones Manuales</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="OpManuales">
            <ul class="navbar-nav ps-3">
              <li>
                <a href="#" class="nav-link px-3">
                  <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                  ></span>
                  <span>Cargue Material</span>
                </a>
              </li>
              <li>
                <a routerLink = "/encender-equipos" class="nav-link px-3">
                  <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                  ></span>
                  <span>Encender Equipos</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-3">
                  <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                  ></span>
                  <span>Cierre de Valvulas</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a
            class="nav-link px-3 sidebar-link"
            data-bs-toggle="collapse"
            href="#Parametrizar"
          >
            <span class="me-2"><i class="bi bi-layout-split"></i></span>
            <span>Parametrizar</span>
            <span class="ms-auto">
              <span class="right-icon">
                <i class="bi bi-chevron-down"></i>
              </span>
            </span>
          </a>
          <div class="collapse" id="Parametrizar">
            <ul class="navbar-nav ps-3">
              <li>
                <a routerLink = "/temperaturas" class="nav-link px-3">
                  <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                  ></span>
                  <span>Temperaturas</span>
                </a>
              </li>
              <li>
                <a routerLink="/presion" class="nav-link px-3">
                  <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                  ></span>
                  <span>Presiones</span>
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-3">
                  <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                  ></span>
                  <span>Modo del Tornillo</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
       
        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            Addons
          </div>
        </li>
        <li>
          <a routerLink="/monitoreo" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-graph-up"></i></span>
            <span>Monitoreo</span>
          </a>
        </li>
        <li>
          <a routerLink ="/generarReporte" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-table"></i></span>
            <span>Generar Reporte</span>
          </a>
        </li>

        <!--Sobre el proyecto-->

        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            Sobre El Proyecto
          </div>
        </li>
        <li>
          <a routerLink="/sobre-el-proyecto" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-graph-up"></i></span>
            <span>Sobre El Proyecto</span>
          </a>
        </li>
       
      </ul>
    </nav>
  </div>
</div> 
<!-- offcanvas -->

<!--Contenido gestionar usuario-->

<div *ngIf="router.url === '/registro'">
  <app-registro></app-registro>
</div>

<!--Contenido sobre el proyecto-->

<div *ngIf="router.url === '/sobre-el-proyecto'">
  <app-sobre-el-proyecto></app-sobre-el-proyecto>
</div>

<!--Contenido sobre el proyecto-->

<div *ngIf="router.url === '/instituciones'">
  <app-instituciones></app-instituciones>
</div>


<!--Contenido agradecimientos-->

<div *ngIf="router.url === '/agradecimientos'">
  <app-agradecimientos></app-agradecimientos>
</div>



<!--Contenido dashboard-->
<main class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/dashboard'">
  <div class="container-fuid">
    <div class="row">
      <div class="col-md-12 fw-bold fs-3">Dashboard</div>
    </div>
    <h5 class = "text-center">Progreso del proceso de pirolisis</h5>
    <div class="row barra-progreso">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
    </div>
    <div class="row mt-2">
     
      <div class="col-md-4 ">
        <div 
        class="card text-white bg-primary h-100">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-tittle"> primary card tittle</h5>
          <p class="card-text">
            some quick example text to build on the card tuttle and make
            up the bulk of the card´s content
          </p>
         </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div 
        class="card text-white bg-warning h-100">
  
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-tittle"> primary card tittle</h5>
          <p class="card-text">
            some quick example text to build on the card tuttle and make
            up the bulk of the card´s content
          </p>
         </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div 
        class="card text-white bg-danger h-100">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-tittle"> primary card tittle</h5>
          <p class="card-text">
            some quick example text to build on the card tuttle and make
            up the bulk of the card´s content
          </p>
         </div>
        </div>
      </div>
  
    </div>

    
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Temperatura
          </div>
          <div class="card-body">
            <canvas class="chart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>  

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Presion
          </div>
          <div class="card-body">
            <canvas class="chart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>  

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            charts
          </div>
          <div class="card-body">
            <canvas class="chart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>  

    </div>

    </div>
    <img src ="assets/Img/logoSena.png"  width="32" 
    class=" aling-top mr-2">

</main>