.imgLS {
    max-width: 10%;
  }

  .ctn-main {
    width: 82%;
    float: right;
}

  .contenedor-formulario{
    display:block; 
    justify-content: center;
    width: 80%;
    height: 90vh;
    position: absolute;
    left: 25%;
  }

  form {
      width: 80%;
  }

  .subtitulo{
    justify-content: center;
    position: absolute;
      margin-top: 40px;
      
  }

  .titulo1{
      margin-top: 40px;
  }