<div class="contenedor-formulario col-md-5 mt-5 shadow-lg mt-5" >

  <form class="mt-4" autocomplete="off" [formGroup]="formulary">

    <h3 class="titulo-login">Registrar Producción</h3>

    <div class="form-row">
      <div class="row">
        <div class="form-group col-md-8 mb-3">
          <label class="col-form-label">Fecha y hora de inicio</label>
          <input type="datetime-local" ng-model="valueofdate" class="form-control" id="starDateTime" formControlName="Fecha_Inicio">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="row">
        <div class="form-group col-md-8 mb-3">
          <label class="col-form-label">Fecha y hora de finalización</label>
          <input type="datetime-local" ng-model="valueofdate" class="form-control" id="endDateTime" formControlName="Fecha_Finalizacion">
        </div>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Tipo de producto ingresado</label>
      <input type="text" class="form-control" id="type" formControlName="Tipo_Ingreso">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Cantidad de producto ingresado</label>
      <input type="number" class="form-control" id="amount" formControlName="Cantidad_Ingreso">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Unidad de medida Ingreso</label>
      <input type="text" class="form-control" id="uIn" formControlName="Unidad_Ingreso">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Tipo de líquido producido</label>
      <input type="text" class="form-control" id="tLiq" formControlName="Tipo_Liquido">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Cantidad de líquido producido</label>
      <input type="number" class="form-control" id="cLiq" formControlName="Cantidad_Liquido">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Unidad de medida de líquido</label>
      <input type="text" class="form-control" id="ULiq" formControlName="Unidad_Liquido">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Tipo de sólido producido</label>
      <input type="text" class="form-control" id="tSol" formControlName="Tipo_Solido">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Cantidad de sólido producido</label>
      <input type="number" class="form-control" id="cSol" formControlName="Cantidad_Solido">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Unidad de medida de sólidos</label>
      <input type="text" class="form-control" id="uSol" formControlName="Unidad_Solido">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Tipo de gas producido</label>
      <input type="text" class="form-control" id="tGas" formControlName="Tipo_Gas">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Cantidad de gas producido</label>
      <input type="number" class="form-control" id="cGas" formControlName="Cantidad_Gas">
    </div>

    <div class="form-group mb-3">
      <label class="col-form-label">Unidad de medida de gases</label>
      <input type="text" class="form-control" id="uGas" formControlName="Unidad_Gas">
    </div>

    <div class="contedor-btn-iniciar mt-3">
      <button type="submit" class="btn btn-iniciar btn-primary btn-lg" (click)="registerProduction()">Guardar</button>
    </div>

  </form>
</div>
