<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebar"
        aria-controls="offcanvasExample"
      >
        <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
      </button>
      <a 
        class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
        href="#"
        >
        <img src="assets/Img/logoSena.png"  width="40" 
        class="d-inline-block aling-top mr-2"/>
        Sistema Reactor
        <img src="assets/Img/logo_astin.png"  width="60" 
        class="d-inline-block aling-top mr-8"/>
        <img src="assets/Img/LogoSENNOVA.jpeg"  width="60" 
        class="d-inline-block aling-top mr-2"/>
    </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#topNavBar"
        aria-controls="topNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavBar">
        <form class="d-flex ms-auto my-3 my-lg-0">
          <div class="input-group">

          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle ms-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Usuario <i class="bi bi-person-fill"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby = "navbarDropdown">
              <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- top navigation bar -->
  <!-- offcanvas -->
  <div
    class="offcanvas offcanvas-start sidebar-nav bg-dark"
    tabindex="-1"
    id="sidebar"
  >
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              CORE
            </div>
          </li>
          <li>
            <a routerLink="/accesofuncional-operario" class="nav-link px-3 active">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Estado Maquina</span>
            </a>
          </li>

          <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Interfaz
            </div>
          </li>

          <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#parametrosI"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Parametros Iniciales</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="parametrosI">
              <ul class="navbar-nav ps-3">
                <li>
                  <a (click)="check()" class="nav-link px-3" data-bs-toggle="collapse" href="#checkList">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Verificar Encendido</span>
                  </a>
                  <div class="collapse" id="checkList">
                    <ul class="navbar-nav ps-3">
                      <li>
                        <a class="nav-link px-3">
                          <span class="me-2"
                            ><i class="bi bi-speedometer2"></i
                            ></span>
                          <span>Cierre de tolva: {{hopperOpen}}</span>
                        </a>
                      </li>
                      <li>
                        <a class="nav-link px-3">
                          <span class="me-2"
                          ><i class="bi bi-speedometer2"></i
                          ></span>
                          <span>Estado de energía: {{powerOn}}</span>
                        </a>
                      </li>
                      <li>
                        <a class="nav-link px-3">
                          <span class="me-2"
                          ><i class="bi bi-speedometer2"></i
                          ></span>
                          <span>Estado de carga: {{charged}}</span>
                        </a>
                      </li>
                      <li>
                        <a class="nav-link px-3">
                          <span class="me-2"
                          ><i class="bi bi-speedometer2"></i
                          ></span>
                          <span>Estado de Chiller: {{chillerStatus}}</span>
                        </a>
                      </li>
                      <li>
                        <a class="nav-link px-3">
                          <span class="me-2"
                          ><i class="bi bi-speedometer2"></i
                          ></span>
                          <span>Estado de bomba de vacio: {{voidStatus}}</span>
                        </a>
                      </li>
                      <li>
                        <a class="nav-link px-3">
                          <span class="me-2"
                          ><i class="bi bi-speedometer2"></i
                          ></span>
                          <span>Estado de compresor: {{compresorStatus}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a routerLink = "/encender-equipos" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Tolva</span>
                  </a>
                </li>
                <!-- <li>
                    <a routerLink = "" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Bomba de Vacio</span>
                    </a>
                  </li> -->

              </ul>
            </div>
          </li>

          <li>
            <a href="#" class="nav-link px-3 ">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Parametros Tornillo</span>
            </a>
          </li>

          <li>
            <a routerLink="/perfilTemperatura" class="nav-link px-3 ">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Parametros Temperatura</span>
            </a>
          </li>


          <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Reportes
            </div>
          </li>

          <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#reporteOperario"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Reportes</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="log">
              <ul class="navbar-nav ps-3">
                <li>
                  <a routerLink="/readProductShow" class="nav-link px-3 ">
                    <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                    <span>Registros de Producto</span>
                  </a>
                </li>
                <li>
                  <a routerLink = "/readProcessShow" class="nav-link px-3">
                    <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Reportes de Proceso</span>
                  </a>
                </li>
                <li>
                  <a routerLink = "/readProductionShow" class="nav-link px-3">
                    <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Reportes de Producción</span>
                  </a>
                </li>
                <li>
                  <a routerLink = "/readFailureShow" class="nav-link px-3">
                    <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Reportes de Bitácora de Falla</span>
                  </a>
                </li>
              </ul>
            </div>

          <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#reporteDesempeño"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Reportar</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="reporteDesempeño">
              <ul class="navbar-nav ps-3">
                <li>
                  <a routerLink="/registroProducto" class="nav-link px-3 ">
                    <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                    <span>Registrar de Productos</span>
                  </a>
                </li>
                <li>
                  <a routerLink = "/productionRegister" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Reportar Producción</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/processRegister" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Reportar Control de Proceso</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/failureRegister" class="nav-link px-3">
                    <span class="me-2"
                    ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Reportar Falla</span>
                  </a>
                </li>

              </ul>
            </div>
          </li>
          </ul>
      </nav>
    </div>
  </div>
  <!-- offcanvas -->

  <div class="m-5 pt-3 ctn-main" *ngIf="router.url === '/readProductShow'">
    <app-read-product-registry></app-read-product-registry>
  </div>

  <div class="m-5 pt-3 ctn-main" *ngIf="router.url === '/readProcessShow'">
    <app-read-process-report></app-read-process-report>
  </div>

  <div class="m-5 pt-3 ctn-main" *ngIf="router.url === '/readProductionShow'">
    <app-read-production-report></app-read-production-report>
  </div>

  <div class="m-5 pt-3 ctn-main" *ngIf="router.url === '/readFailureShow'">
    <app-read-failure-report></app-read-failure-report>
  </div>

<!-- contenido registro dtemperaturas-->

<div class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/perfilTemperatura'">
  <app-temperaturas></app-temperaturas>
</div>

<!-- contenido registro EncenderEquipos-->

<div class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/encender-equipos'">
  <app-encender-equipos></app-encender-equipos>
</div>

<!--Contenido acceso funcional Operario-->
  <main class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/accesofuncional-operario'" >
    <div class="container-fuid">
      <div class="row">
        <div class="col-md-12 fw-bold fs-3">Dashboard</div>
      </div>
    </div>

    <div class="container">
    <div class="row">

    <div class="container-img">
        <img src="assets/planta1.png">
    </div>



    <div class= "row mt-3">
      <h5>progreso del proceso</h5>
      <div class="row barra-progreso">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
      </div>
    </div>
    </div>
  </div>

  </main>
