@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}


#boxIzq
{
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  float: right;
}

#boxCard
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

#prueba
{
  width: 200px;
  height: 50px;
  display: inline-block;
  padding: 5px;
}

.barraProgress
{
  margin-top: 3px;
}


// Imagen SVG
//  width="1149.6"
//  height="410.88"

.plantaDiv{
  width: 70%;
 }
 
 .plantaDiv :hover{
 fill:  #FF6B00;
 }
 
 .tolva{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 .pantallaHMI{
   fill:#2a2bf5;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.100531;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 .R100A{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .R100B{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .R100C{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .R100D{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .R100E{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .R100F{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .R100G{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .R100{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;stroke-width:0.1;
   stroke-linecap:butt;stroke-linejoin:
   miter;stroke-miterlimit:4;stroke-dasharray:
   none;stroke-opacity:1
 }
 // TE100A sensor temperatura/TERMOCUPLA
 .TE100A{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.898418px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE100B sensor temperatura/TERMOCUPLA
 .TE100B{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.816496px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE100C sensor temperatura/TERMOCUPLA
 .TE100C{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.956379px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE100D sensor temperatura/TERMOCUPLA
 .TE100D{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE100E sensor temperatura/TERMOCUPLA
 .TE100E{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;stroke-width:0.997653px;
   stroke-linecap:butt;stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE100F sensor temperatura/TERMOCUPLA
 .TE100F{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.894427px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .estructuraReactor{
   display:inline;
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 // M100 MOTOREDUCTOR
 .M100{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 .a3{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 .a4{
   fill:#b1aea9;
   fill-opacity:
   1;stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 .a5{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
   
 // LR LUZ ROJA
 .LR{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 // LUZ AMARILLA
 .LA{
   fill:#e4e41a;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.00648031;
   stroke-linejoin:round;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
  }
  //LUZ VERDE
 .LV{
   fill:#298b28;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 // BALIZA
 .aBaliza{
   display:inline;
   fill:#080808;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.00971632;
   stroke-linejoin:round;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 .Baliza{
   display:inline;
   fill:#080808;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // SV VALVULA SOLENOIDE
 .SV104A{
   fill:#073c7c;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .SV104_A{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .SV104B{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .SV104_B{
   fill:#073c7c;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // btm parada de emergencia
 .btnEmergencia{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1
 }
 // RECONICIMIENTO DE ALARMA
 .ReconocieiintoAlarma{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .btnIniciarProceso{
   fill:#298b28;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
    }
 .btnParadaproceso{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
 
 // INTERCAMBIADOR DE ALOR
 .HE100{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 // SENSOR TEMPERATURA
  .TE100{
   fill:#343434;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
 
   // SOPLADORA
 .BLWR-100B{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // CILINDROE
 .cilindro{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
   
 // sopladoras
 .BLWR-100D{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
  .BLWR-100A{
   fill:#343434;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
    }
 
 .BLWR-100C{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .BLWR-100E{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 
 // PT100-1 TRASMISOR DE PRESION
 .PT100-1{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // SUICHE TAPA TOLVA
 .SwitchTapaTolva{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // INDICADOR DE PRESON TOLVA
 .PI100-1{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberiaTemperatura{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .Tanquealtapresion{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // REFRIGERACION CHILLER
 .CHILLER{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
  }
 
   
 // CANALETA CONEXION ELECTRICA
  .canaletaconexElectrica2{
   fill:#806e65;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
 .canaletaconexElectrica1{
   fill:#806e65;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .canaletaconexElectrica{
   fill:#806e65;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.1;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 
 
 // PT106 TRASMISOR DE PRESION
 .PT106{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // INDICADOR DE PRESION
 .PI106{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
 
 // tuberia de refrigeracion/Agua
 .TuberiaRefrigeracion_Agua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
 .Tuberia_RefrigeracionAgua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberia_RefrigeracionAgua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberia_refrigeracionAgua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberiarefrigeracionagua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberiarefrigeracion_agua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberiarefrigeracionagua_{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .Tuberiarefrigeracionagua_{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .tuberiaRefrigeracionagua_{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // V104C valvula manual
 .V104C{
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
  .tuberiaProceso_{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
   // COMPRESOR C105
 .C105compresor{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
  }
 //  t105 tanque de baja presion
  .T105{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // valvula de alibio
 .V105{
   fill:#343434;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 
 // V105A valvula manual
 .V105A {
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .V104A{
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // PI INDICADOR DE PRESION
 .PI105{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // PT105 TRASMISOR DE PRESION
 .PT105{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
   // FI103 FILTRO DE SOLIDOS
 .FI103{
   fill:#827a16;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // LS103 Sensor de nivel
 .LS103{
   fill:#146c81;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 //FTT100 TRASMISOR DE FLUJO Y TEMPERATURA
 .FTT100{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TI102A INDICADOR TEMPERATURA
 .TI102A{
   fill:#61615f;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TI102B INDICADOR TEPERATURA
 .TI102B{
   fill:#61615f;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .V104B{
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .C102{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // V100 VALVULA MANUAL
 .V100{
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // V102A VALVULA MANUAL
 .V102A{
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // T101 TANQUE ALMACENAMIENTO SOLIDOS
 .T101{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // VALVULA MANUAL
 .V103B{
   fill:#0c5e0d;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .a228{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .T103{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .VP104{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 // PT100-2 TRASMISOR DE PRESION
 .PT100-2{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .BLWR-100F{
   fill:#343434;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // tuberia de refrigeracion/Agua
 .RefrigeracionAgua{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // tuberia de refrigeracion/Agua
 .RefrigeracionAgua_{
   fill:#0202cf;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE102 SENSOR TEMPERATURA
 .TE102{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
   }
 
 .TE102-1{
   fill:#146c81;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // TE102 SENSOR TEMPERATURA
 
 // TE102A SENSORR TEMPERATURA AGUA REFRIGERANTE
 .TE102A{
   fill:#146c81;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .TE102A_1{
   fill:#b1aea9;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // tuberia del proceso
 .Tuberiaproceso{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // tuberia proceso
 .tuberiadel_proceso{
   fill:#848480;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .aTUBERIAproceso{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .tuberiaProceso_{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 
 .tuberiadeproceso{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 // tuberia proceso
 .tuberiaPROCESO{
   fill:#e92029;
   fill-opacity:1;
   stroke:#000000;
   stroke-width:1px;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-opacity:1
 }
 .a392{
   fill:#e92029;
   fill-opacity:1;
   stroke:none;
   stroke-width:0.0720082;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   stroke-miterlimit:4;
   stroke-dasharray:none;
   stroke-opacity:1
 }
 // IMAGEN SVG

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    top: 56px;
    width: 17%;
    height: calc(100% - var(--topNavbarHeight));
  }
  .ctn-main {
      width: 82%;
      float: right;
  }

  .container-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}