<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebar"
        aria-controls="offcanvasExample"
      >
        <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
      </button>
      <a 
        class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold"
        href="#"
        >
        <img src="assets/Img/logoSena.png"  width="40" 
        class="d-inline-block aling-top mr-2"/>
        Sistema Reactor
        <img src="assets/Img/logo_astin.png"  width="60" 
        class="d-inline-block aling-top mr-8"/>
        <img src="assets/Img/LogoSENNOVA.jpeg"  width="60" 
        class="d-inline-block aling-top mr-2"/>
    </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#topNavBar"
        aria-controls="topNavBar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavBar">
        <form class="d-flex ms-auto my-3 my-lg-0">
          <div class="input-group">
            
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle ms-2"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Usuario <i class="bi bi-person-fill"></i>
            </a>
  
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby = "navbarDropdown">
              <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
            </ul>
  
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- top navigation bar -->
  <!-- offcanvas -->
  <div
    class="offcanvas offcanvas-start sidebar-nav bg-dark"
    tabindex="-1"
    id="sidebar"
  >
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              CORE
            </div>
          </li>
          
          <li>
            <a routerLink="/accesofuncional-operario" class="nav-link px-3 sidebar-link">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#estadoMaquina"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Estado Maquina</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="estadoMaquina">
              <ul class="navbar-nav ps-3">
                <li>
                  <a routerLink = "/temperaturas" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Activo/Inactivo</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Interface
            </div>
          </li>
  
          
  
          <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#parametrosI"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Parametros Iniciales</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="parametrosI">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="#" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Verificar Encendido</span>
                  </a>
                </li>
                <li>
                  <a routerLink = "/encender-equipos" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Tolva</span>
                  </a>
                </li>
                <li>
                    <a routerLink = "/encender-equipos" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Bomba de Vacio</span>
                    </a>
                  </li>

              </ul>
            </div>
          </li>
  
          <li>
            <a href="#" class="nav-link px-3 ">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Parametros Tornillo</span>
            </a>
          </li>

          <li>
            <a routerLink="/perfilTemperatura" class="nav-link px-3 ">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Parametros Temperatura</span>
            </a>
          </li>

          <li>
            <a routerLink="/registroProducto" class="nav-link px-3 ">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Registro de Productos</span>
            </a>
          </li>
         
          <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Addons
            </div>
          </li>
         
          <li>
            <a
              class="nav-link px-3 sidebar-link"
              data-bs-toggle="collapse"
              href="#reporteOperario"
            >
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Reportes</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="reporteOperario">
              <ul class="navbar-nav ps-3">
                <li>
                  <a routerLink = "/reporteProduccionOperario" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Produccion</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/reporteProcesoOperario" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Bitacora Operario</span>
                  </a>
                </li>
                <li>
                  <a routerLink="/reporteBitacoraIncidencias" class="nav-link px-3">
                    <span class="me-2"
                      ><i class="bi bi-speedometer2"></i
                    ></span>
                    <span>Bitacora Incidencias</span>
                  </a>
                </li>
               
              </ul>
            </div>
          </li>

             <!--Sobre el proyecto-->

        <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
            Sobre El Proyecto
          </div>
        </li>
        <li>
          <a routerLink="/sobre-el-proyecto-operario" class="nav-link px-3">
            <span class="me-2"><i class="bi bi-graph-up"></i></span>
            <span>Sobre El Proyecto</span>
          </a>
        </li>


          </ul>
      </nav>
    </div>
  </div>
  <!-- offcanvas -->

<!-- contenido reporte produccion operario-->

<div class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/reporteProduccionOperario'">
  <app-reporte-produccion-operario></app-reporte-produccion-operario>
</div> 

<!-- contenido reporte proceso operario(bitacora)-->

<div class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/reporteProcesoOperario'">
  <app-reporte-proceso-operario></app-reporte-proceso-operario>
</div> 

<!-- contenido bitacora incidencias-->

<div class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/reporteBitacoraIncidencias'">
  <app-reporte-bitacora-eventos-operario></app-reporte-bitacora-eventos-operario>
</div> 

<!-- contenido registro de productos-->

<div class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/registroProducto'">
  <app-registro-producto></app-registro-producto>
</div> 

<!-- aqui nuevo -->
<!--Contenido sobre el proyecto-->

<div *ngIf="router.url === '/sobre-el-proyecto-operario'">
  <app-sobre-el-proyecto></app-sobre-el-proyecto>
</div>

<!--Contenido sobre instituciones-->

<div class= "ctn-main" *ngIf="router.url === '/instituciones'">
  <app-instituciones></app-instituciones>
</div>


<!--Contenido agradecimientos-->

<div class= "ctn-main" *ngIf="router.url === '/agradecimientos'">
  <app-agradecimientos></app-agradecimientos>
</div>

<!--Contenido astin-->

<div class= "ctn-main mt-5" *ngIf="router.url === '/astin'">
  <div class="col-sm">
  <app-astin></app-astin>
</div>
</div>

<!--Contenido cdm-->

<div class= "ctn-main mt-5" *ngIf="router.url === '/cdm'">
  <div class="col-sm">
  <app-cdm></app-cdm>
</div>
</div>

<!--Contenido Uniautonoma-->

<div class= "ctn-main mt-5" *ngIf="router.url === '/uniautonoma-cauca'">
  <div class="col-sm">
  <app-uniautonoma></app-uniautonoma>
</div>
</div>

<!-- aquitermina lo nuevo -->









<!--Contenido acceso funcional Operario-->
  <main class="mt-5 pt-3 ctn-main" *ngIf="router.url === '/accesofuncional-operario'" >

    <div class="container-fuid">
      <div class="row">
        <div class="col-md-12 fw-bold fs-3">Dashboard</div>
      </div>

      <!-- cajas -->

    <div class ="row-mt-2" id="boxIzq">

      <div class = "" id="prueba">
        <div class="card">
          <div class="card-header">
            Zona A
          </div>
          <div class="card-body">
            <canvas class="chart" width="100" height="50"></canvas>
          </div>
        </div>
      </div> 
  
      <div class = "" id="prueba">
        <div class="card">
          <div class="card-header">
            Zona B
          </div>
          <div class="card-body">
            <canvas class="chart" width="100" height="50"></canvas>
          </div>
        </div>
      </div> 
  
      <div id="prueba">
        <div class="card">
          <div class="card-header">
            Zona C
          </div>
          <div class="card-body">
            <canvas class="chart" width="100" height="50"></canvas>
          </div>
        </div>
      </div>  
  
      <div  id="prueba">
        <div class="card">
          <div class="card-header">
            Zona D
          </div>
          <div class="card-body">
            <canvas class="chart" width="100" height="50"></canvas>
          </div>
        </div>
      </div>  

      <div  id="prueba">
        <div class="card">
          <div class="card-header">
            Zona E
          </div>
          <div class="card-body">
            <canvas class="chart" width="100" height="50"></canvas>
          </div>
        </div>
      </div>  
    

    <div  id="prueba">
      <div class="card">
        <div class="card-header">
          Zona F
        </div>
        <div class="card-body">
          <canvas class="chart" width="100" height="25"></canvas>
        </div>
      </div>
    </div>  
  
    <div  id="prueba">
      <div class="card">
        <div class="card-header">
          Zona G
        </div>
        <div class="card-body">
          <canvas class="chart" width="100" height="25"></canvas>
        </div>
      </div>
    </div>  
  


    </div>

    
    <!-- cajas -->
  
      <img src ="assets/planta2.jpg" alt="PlantaPirolisis" class="planta2" width="70%">
   
   

      <h5 class="barraProgress"><span>Progreso del proceso de pirolisis</span> </h5>
      <div class="row barra-progreso">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
      </div>

      <div class="row mt-2" id="boxCard">
        <div class="col-md-2 ">
          <div 
          class="card   h-100">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-tittle"> primary card tittle</h5>
            <p class="card-text">
              some quick example text to build on the card tuttle and make
              up the bulk of the card´s content
            </p>
          </div>
          </div>
        </div>
  
        <div class="col-md-2">
          <div 
          class="card  h-100">
    
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-tittle"> primary card tittle</h5>
            <p class="card-text">
              some quick example text to build on the card tuttle and make
              up the bulk of the card´s content
            </p>
          </div>
          </div>
        </div>
  
        <div class="col-md-2">
          <div 
          class="card  h-100">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-tittle"> primary card tittle</h5>
            <p class="card-text">
              some quick example text to build on the card tuttle and make
              up the bulk of the card´s content
            </p>
          </div>
          </div>
        </div>

      
          <div class="col-md-2 ">
            <div 
            class="card  h-100">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-tittle"> primary card tittle</h5>
              <p class="card-text">
                some quick example text to build on the card tuttle and make
                up the bulk of the card´s content
              </p>
            </div>
            </div>
          </div>

          <div class="col-md-2">
            <div 
            class="card h-100">
      
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-tittle"> primary card tittle</h5>
              <p class="card-text">
                some quick example text to build on the card tuttle and make
                up the bulk of the card´s content
              </p>
            </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="card  h-100">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-tittle"> primary card tittle</h5>
              <p class="card-text">
                some quick example text to build on the card tuttle and make
                up the bulk of the card´s content
              </p>
            </div>
            </div>
          </div>
  
       

<!--         
        <div class="row mt-3">
          
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                Temperatura
              </div>
              <div class="card-body">
                <canvas class="chart" width="300" height="200"></canvas>
              </div>
            </div>
          </div>  

            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  Presion
                </div>
                <div class="card-body">
                  <canvas class="chart" width="300" height="200"></canvas>
                </div>
              </div>
            </div>  

            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  charts
                </div>
                <div class="card-body">
                  <canvas class="chart" width="300" height="200"></canvas>
                </div>
              </div>
            </div>  

        </div> -->
    </div>
  </div>

  </main>
