    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="contenedor-sp1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<router-outlet></router-outlet>

<br />
<br />
<div align="center">
<img class="cen" src="../../../assets/Img/SP_Gidemp3.jpg" alt="banner">
</div>
<!--<p>&nbsp;</p>-->

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
<!--    <a href="#" class="navbar-brand">Instituciones</a>-->
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/instituciones" class="nav-link"> Instituciones </a>
      </li>      
      <li class="nav-item">
        <a routerLink="/desarrollo" class="nav-link"> Equipo de Desarrollo </a>
      </li>
      <li class="nav-item">
        <a routerLink="/sobre-el-proyecto" class="nav-link"> Sobre el Proyecto </a>
      </li>
      <li class="nav-item">
        <a routerLink="/agradecimientos" class="nav-link">Agradecimientos</a>
      </li>
    </div>
   


  </nav>

  

  

<!-- <div class="container mt-3">--> 
  <br>

  <h3 class="centro"> <strong>LDP DIGITALIZACIÓN DEL PROCESO DE PIRÓLISIS</strong></h3>
<br>
  <p class="justificado">Debido a que la producción de plástico ha aumentado exponencialmente afectando nuestro planeta entero, continuamente se busca tecnologias que aprovechen estos recursos y sean transformados para ser reutilizados y asi no se genere mas desechos en el medio ambiente.</p>
  
  <p class="justificado">Una de las alternativas de aprovechamiento, el reciclaje químico. Este sobresale por presentar un cambio físico a uno químico degradando los polímeros a compuestos químicos base y combustible. Este tipo de reciclaje presenta cuatro métodos tecnológicos estos son pirólisis, hidrogenación, gasificación, metanólisis. Para este proyecto, se selecciono el proceso de pirólisis, el cual, es un proceso inverso de ingeniería que permite obtener los elementos base con los que fue construido el producto de plástico en presencia de temperaturas altas y muy bajos o ausencia de niveles de oxígeno.</p>
  
  <p class="justificado">Para esta planta piloto, se implemento un prototipo de sistema de información haciendo uso de diferentes tecnologías de la información y la comunicación. Esta implementacion fue realizada gracias a la colaboracion de diferentes entidades que se puede detallar en los siguientes menus.</p>

  <br>
  <br>

<div align="center">
  <img class="cen" src="../../../assets/Img/SP_Banner.jpg" alt="banner"> 
  <p><small>Servicio Nacional de Aprendizaje SENA<br /> 
    Regional Valle Calle 52 No 2 Bis 15, Cali, Colombia.<br />  
    Centro Nacional de Asistencia Técnica a la Industria ASTIN</small></p>
  </div>

</div>
</div>





