@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}


.contenedor-sp1{
    margin:auto;
  //  margin-top: 500;
  //  margin-left: 600;
   // display: flex;
 //   justify-content: center;
    width:  66.5%;
    height: 50%;
    position: absolute;
    left: 18%;
    
   
  }


  .justificado {
    text-align: justify;
    font-size:medium;
     
  }


.centro {
	text-align: center;
  //font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
  
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    top: 56px;
    width: 17%;
    height: calc(100% - var(--topNavbarHeight));
  }

  .container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .ctn-main {
      width: 82%;
      float: right;
  }
}
