<div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">

            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                <input class="form-check-input"  id="flexSwitchCheckDefault" type="checkbox">
            </label>
               
            </div>
           


            <div class="text-xs font-weight-bold text-uppercase mb-1">Estado Maquina</div>
            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Encendida/Apagada</div>
            <!-- <div class="mt-2 mb-0 text-muted text-xs">
              <span class="text-success mr-2"> 20.4%</span>
              
            </div> -->
          </div>
          <!-- <div class="col-auto">
            <i class="fas fa-users fa-2x text-info"></i>
          </div> -->
        </div>
      </div>
    </div>
  </div>



