<nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
 

    <div class="collapse navbar-collapse" id="topNavBar">
        <form class="d-flex ms-auto my-3 my-lg-0">
          <div class="input-group">
            
          </div>
        </form>
        
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            
            <a
              class="nav-link dropdown-toggle ms-2 text-white"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            {{authServices.usuario.email}} 
              <img [src]="authServices.usuario.foto" alt="hugenerd" width="30" height="30" class="rounded-circle">
            </a>
  
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby = "navbarDropdown">
              <li><a class="dropdown-item"  >Cerrar Sesion</a></li>
            </ul>
  
          </li>
        </ul>
      </div>
</nav> 

