.contenedor-no-registrado{
    margin-top: 10px;
    text-align: center;
}
.txt-no-registrado{
    display: inline;
    color: black;
    font-size: 20px;
}
.contenedor-no-registrado a{
  font-size: 20px;
}


.img1{
  background-image: url(/assets/Img/monitoreo1.jpg);
  background-size: cover;
  background-position: center;
}
.img2{
  background-image: url(/assets/Img/monitoreo.PNG);
  background-size: cover;
  background-position: center;
}