<div class="login">
    <div class="contenedor-formulario col-md-5">
      <form autocomplete="off">
        <div class="container-form">
          <h3 class="titulo-login">LOGUÉATE Y AYUDEMOS AL PLANETA</h3>
          <div class="form-group">
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Correo" name="email">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mt-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Contraseña" name="password">
            </div>
        </div>
        <div class="contedor-btn-iniciar">
          <a (click)="login()"><button type="submit" class="btn btn-iniciar btn-primary btn-lg">Iniciar
             Sesion</button></a>
         </div>
     
        </div>
  
        
  
      </form>
    </div>
    <div class="container-img col-md-7">
      <img class="img-login" src="../assets/imagenes/WebInicio.png" alt="Clean Word">
    </div>
  </div>