<div class="container-sm mt-5">
    <div class="row text-center ">
    <img src="assets/Img/logoSena.png"   
      class="imgLS d-inline-block col mr-2"/>
    <h3 class="col mt-4">Parametros de Temperatura</h3>
    <img src="assets/Img/LogoGIDEMP.jpg"   
      class="imgLS d-inline-block  col mr-2 float-end"/>
    </div><hr>
</div>


<div class="contenedor-formulario col-md-5  mt-2" >
   
    <form class="mt-4" autocomplete="off" [formGroup]="formulario">
        
        <div class="mb-3">
            <label class="form-label">Zona A</label>
            <input type="number" class="form-control" id="zonaA" formControlName="ZonaA" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona B</label>
            <input type="number" class="form-control" id="zonaB" formControlName="ZonaB" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona C</label>
            <input type="number" class="form-control" id="zonaC" formControlName="ZonaC" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona D</label>
            <input type="number" class="form-control" id="zonaD" formControlName="ZonaD" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona E</label>
            <input type="number" class="form-control" id="zonaE" formControlName="ZonaE" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona F</label>
            <input type="number" class="form-control" id="zonaF" formControlName="ZonaF" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona G</label>
            <input type="number" class="form-control" id="zonaG" formControlName="ZonaG" >
        </div>

        <div class="contedor-btn-iniciar mt-3">
            <button type="submit" class="btn btn-iniciar btn-primary btn-lg" (click)="registrarPerfTemperatura()">Guardar</button>
        </div>

    </form>
</div>