<div class="contenedor-formulario col-md-5 mt-5 shadow-lg mt-5" >
   
    <form class="mt-4" autocomplete="off" [formGroup]="formulario">
        
        <h3 class="titulo-login">Parametros Temperatura</h3>

        <div class="mb-3">
            <label class="form-label">Zona A</label>
            <input type="number" class="form-control" id="zonaA" formControlName="ZonaA" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona B</label>
            <input type="number" class="form-control" id="zonaB" formControlName="ZonaB" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona C</label>
            <input type="number" class="form-control" id="zonaC" formControlName="ZonaC" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona D</label>
            <input type="number" class="form-control" id="zonaD" formControlName="ZonaD" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona E</label>
            <input type="number" class="form-control" id="zonaE" formControlName="ZonaE" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona F</label>
            <input type="number" class="form-control" id="zonaF" formControlName="ZonaF" >
        </div>

        <div class="mb-3">
            <label class="form-label">Zona G</label>
            <input type="number" class="form-control" id="zonaG" formControlName="ZonaG" >
        </div>

        <div class="contedor-btn-iniciar mt-3">
            <button type="submit" class="btn btn-iniciar btn-primary btn-lg" (click)="registrarPerfTemperatura()">Guardar</button>
        </div>

    </form>
</div>