
<div class="contenedor-sp1">

    <br />
    <br />
    <div align="center">
    <img class="cen" src="../../../assets/Img/SP_Gidemp3.jpg" alt="banner">
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
    <!--    <a href="#" class="navbar-brand">Instituciones</a>-->
        <div class="navbar-nav mr-auto">
            
              <!-- opcion intituciones -->
   <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Instituciones
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/astin">ASTIN</a></li>
          <li><a class="dropdown-item" routerLink="/cdm">CMD</a></li>
          <li><a class="dropdown-item" >Tecnoparque Sede Bogota</a></li>
          <li><a class="dropdown-item" routerLink="/uniautonoma-cauca">Uniautonoma del Cauca</a></li>
        </ul>
      </li>
    </ul>
  </div>



            <!-- <li class="nav-item">
            <a routerLink="/instituciones" class="nav-link"> Instituciones </a>
            </li>       -->
            <li class="nav-item">
            <a routerLink="/registro" class="nav-link"> Equipo de Desarrollo </a>
            </li>
            <li class="nav-item">
            <a routerLink="/sobre-el-proyecto" class="nav-link"> Sobre el Proyecto </a>
            </li>
            <li class="nav-item">
            <a routerLink="/agradecimientos" class="nav-link">Agradecimientos</a>
            </li>
        </div>
             </div>
        </nav>

</div>

<div class="container mt-8">
    <div class="card-container">
        <div class="Header">
                <a >
                    <img src="assets/logo_autonoma1.png" alt="">
                </a>
                <h2>Corporación Universitaria Autónoma del Cauca</h2>
                <h4>Popayán</h4>
        </div>
        <div class="descripcion">
            <p>La Corporación Universitaria Autónoma del Cauca es participante en el proyecto con uno de sus estudiantes del programa de Ingenieria de Sistemas Informáticos gracias al convenio iterinstitucional existente</p>
            <div class="social">
                
                <a href="https://www.uniautonoma.edu.co/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"> Uniautonoma del Cauca</i>
                </a>
                
    
            </div>
        </div>
    </div>
</div>

<div class="container mt-8">
    <div class="card-container">
        <div class="Header">
                <a >
                    <img src="assets/avatarPerfil.jpg" alt="">
                </a>
                <h2>Riky David Idrobo Bolaños</h2>
                <h4>Investigador Tesista</h4>
        </div>
        <div class="descripcion">
            <p>Su participación en el proyecto se da como investigador tesista, dando su aporte con los conocimientos adquiridos en su formación como Ingeniero de Sistemas Informáticos </p>
            <div class="social">
                
                <a target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>
                
    
            </div>
        </div>
    </div>
</div>


<div align="center">
    <img class="cen" src="../../../assets/Img/SP_Banner.jpg" alt="banner"> 
    <p><small>Servicio Nacional de Aprendizaje SENA<br /> 
    Regional Valle Calle 52 No 2 Bis 15, Cali, Colombia.<br />  
    Centro Nacional de Asistencia Técnica a la Industria ASTIN</small></p>

    </div>