.imgLS {
    max-width: 10%;
  }

  .contenedor-formulario{
    display:block; 
    justify-content: center;
    width: 80%;
    height: 90vh;
    position: absolute;
    left: 25%;
  }

  form {
      width: 80%;
  }

 
  .titulo1{
      margin-top: 40px;
  }