<div class="contenedor-sp1">

    <br />
    <br />
    <div align="center">
    <img class="cen" src="../../../assets/Img/SP_Gidemp3.jpg" alt="banner">
    </div>
  
    <nav class="navbar navbar-expand navbar-dark bg-dark">
     
        <div class="navbar-nav mr-auto">

             
        <li class="nav-item">
          <a routerLink="/sobre-proyecto-directivo" class="nav-link"> Sobre el Proyecto </a>
        </li>


              <!-- opcion intituciones -->
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Instituciones
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" routerLink="/astin-directivo">ASTIN</a></li>
                  <li><a class="dropdown-item" routerLink="/cdm-directivo">CDM</a></li>
                  <li><a class="dropdown-item" >TECNOPARQUE/BOGOTA</a></li>
                  <li><a class="dropdown-item" routerLink="/uniautonoma-directivo">UNIAUTONOMA DEL CAUCA</a></li>
                </ul>
              </li>
            </ul>
          </div>

          
              <li class="nav-item">
                <a routerLink="/equipo-desarrollo-directivo" class="nav-link"> Equipo de Desarrollo </a>
              </li>
              
              <li class="nav-item">
                <a routerLink="/agradecimientos-directivo" class="nav-link">Agradecimientos</a>
              </li>
          </div>
      </nav>

    
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                ASTIN
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">


                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Manuel.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>MANUEL ALEJANDRO HURTADO GOMEZ</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           ASESOR EXPERTO<br>
                           mahurtado59@misena.edu.co<br>
                           
                           <a href="https://www.linkedin.com/in/manuel-alejandro-hurtado-gomez-712aa91a1" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>
                           <!--https://www.linkedin.com/in/manuel-alejandro-hurtado-gomez-712aa91a1/<br>-->
                          
                          </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Raquel.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>RAQUEL SOFIA FLOREZ MUÑOZ</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           LIDER DE PROYECTO<br>
                           rflorezm@sena.edu.co<br>
                           <a href="https://www.linkedin.com/in/hugo-armando-villadiego-arroyo-265b19210/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>
                           <br>
                          
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                 
                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Ana.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>ANA ISABEL CUASTUMAL AGUIRRE</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           SEMILLERO<br>
                           aicuastumal1@misena.edu.co<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Oscar.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>OSCAR ANDRES OCAMPO MENDOZA</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           SEMILLERO<br>
                           oaocampo60@misena.edu.co<br>
                           <a href="https://www.linkedin.com/in/oscar-andres-ocampo-mendoza-7b40541b2/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>

                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>
                 


             
              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
               CORPORACION UNIVERSITARIA AUTONOMA DEL CAUCA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                

                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/gidime/David.jpeg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>RIKY DAVID IDROBO BOLAÑOZ</a>
                      </div>
                        <p>TESISTA INVESTIGADOR<br>
                           davididrobob@gmail.com<br>
                           riky.idrobo.b@uniautonoma.edu.co<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

<!--
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               UNIVERSIDAD SAN BUENAVENTURA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                

                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>DARIO FERNANDO GOMEZ ZUÑIGA</a>
                      </div>
                        <p>ASESOR EXTERNO<br>
                          gzdario@gmail.com<br>
                           <br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
         -->



          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
              CDM
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
              
                             
              <!--  <div class="our-services">
                  <div class="container">
                    <div class="row">-->

                      <div class="table-responsive">
                        <div class="service-box">
                          <div class="row">
                            <div class="col-5">
                              <img  src="../../../assets/Img/gidime/JhonM.png" alt="Avatar"> 
                            </div>
                            <div class="col-5">
                              <div class="nom">
                              <a>ALEXANDER HERNANDEZ MARTIN</a>
                            </div>
                              <p>INVESTIGADOR<br>
                                 ASESOR EXPERTO<br>
                                 jhmartin@sena.edu.co<br>
                                 <a href="https://www.linkedin.com/in/jhon-alexander-hern%C3%A1ndez-martin-ms-eng-140691132/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>       
                                 <br></p>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="table-responsive">
                        <div class="service-box">
                          <div class="row">
                            <div class="col-5">
                              <img  src="../../../assets/Img/gidime/Ritha.png" alt="Avatar"> 
                            </div>
                            <div class="col-5">
                              <div class="nom">
                              <a>RITA RUBIELA RINCÓN BADILLO</a>
                            </div>
                              <p>INVESTIGADOR<br>
                                 ASESOR EXPERTO<br>
                                 rrrincon@sena.edu.co; ritarubielari@misena.edu.co<br>
                                 <a href="https://www.linkedin.com/in/rita-rubiela-rincon-badillo-33411819/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>       
                                 <br></p>
                            </div>
                          </div>
                        </div>
                      </div>        




                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/gidime/Diego.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>DIEGO FERNANDO ESTACIO MARTINEZ</a>
                      </div>
                        <p>SEMILLERO<br>
                           ANALISTA Y DESARROLLADOR<br>
                           emdiego2@gmail.com<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/gidime/Andres.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>ANDRES</a>
                      </div>
                        <p>SEMILLERO<br>
                           DESARROLLADOR<br>
                           andres@info<br>
                           <a href="https://www.linkedin.com/in//" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/gidime/Roque.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>ROQUE PLAZA GUERRERO</a>
                      </div>
                        <p>SEMILLERO<br>
                           ANALISTA<br>
                           correo<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


           <!--    </div>
            </div>
          </div> -->


                

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                TECNOPARQUE NODO BOGOTA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                
                <div class="table-responsive">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/gidime/Omar.png" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>OMAR ROMERO SANCHEZ</a>
                      </div>
                      <p>SEMILLERO<br>
                        DESARROLLADOR<br>
                        havilladiego@misena.edu.co<br>
                        <a href="https://www.linkedin.com/in//" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                        <br></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      
      
      <!--  <div align="center">-->
        <img class="centroimg" src="../../../assets/Img/SP_Banner.jpg" alt="banner"> 
        <p class="centro"><small>Servicio Nacional de Aprendizaje SENA<br /> 
          Regional Valle Calle 52 No 2 Bis 15, Cali, Colombia.<br />  
          Centro Nacional de Asistencia Técnica a la Industria ASTIN</small></p>
  
        </div>
      
  
        <style>
          #collapseBtn[aria-expanded="true"] {background-color:green;color:black}
          #collapseBtn[aria-expanded="false"] {background-color:gray;color:black}
          </style>
