<div class="container-fuid mt-2">
    <div class="row">
        <div class="col-md-12 fw-bold fs-3 text-center">Simulacion</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
        
            <div class="container-img">
            <img src="assets/planta1.png">
            </div>
        
         </div>
        <div class=row>
            <h5>progreso del proceso</h5>
            <div class="row barra-progreso">
                <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
         </div>


         

            <div class="contenedor-formularioInsumo col-md-5 mt-5 shadow mt-5" >
                               
                <form class="mt-4" autocomplete="off" [formGroup]="formularioInsmo">

                    <div class="container-fuid ">
                        <div class="row">
                            <div class="col-md-12 fw-bold fs-3 text-center">Gentionar Insumos</div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="col-form-label">Tipo</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Material</option>
                            <option value="1">Tipo A</option>
                            <option value="2">Tipo B</option>
                            <option value="3">Tipo N/A</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidaProducto" formControlName="cantidad" >
                    </div>
                    <div class="contedor-btn-iniciar mt-3">
                        <button type="submit" class="btn btn-iniciar btn-primary btn-lg float-end" (click)="registrarInsumo()">Guardar</button>
                    </div>
                </form>
          </div>
        

        <div class="contenedor-formularioZona col-md-5 mt-5 shadow mt-5" >
            <form class="mt-4" autocomplete="off" [formGroup]="formularioZna">
                <div class="container-fuid">
                    <div class="row">
                        <div class="col-md-12 fw-bold fs-3 text-center">Gentionar Zona</div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col mb-3">
                        <label class="form-label">Zona A</label>
                        <input type="number" class="form-control" id="zonaA" formControlName="ZonaA" >
                    </div>
    
                    <div class="form-gorup col mb-3">
                        <label class="form-label">Zona E</label>
                        <input type="number" class="form-control" id="zonaE" formControlName="ZonaE" >
                    </div>

                    
                </div>

               <div class="row">

                <div class="form-group col mb-3">
                    <label class="form-label">Zona B</label>
                    <input type="number" class="form-control" id="zonaB" formControlName="ZonaB" >
                </div>
 
                <div class="form-group col mb-3">
                    <label class="form-label">Zona F</label>
                    <input type="number" class="form-control" id="zonaF" formControlName="ZonaF" >
                </div>
               

               </div>

               <div class="row">
                <div class="form-group col mb-3">
                    <label class="form-label">Zona C</label>
                    <input type="number" class="form-control" id="zonaC" formControlName="ZonaC" >
                </div>

                <div class="form-group col mb-3">
                    <label class="form-label">Zona G</label>
                    <input type="number" class="form-control" id="zonaG" formControlName="ZonaG" >
                </div>
               </div>
                
               <div class="row">
                <div class="mb-3">
                    <label class="form-label">Zona D</label>
                    <input type="number" class="form-control" id="zonaD" formControlName="ZonaD" >
                </div>
               </div>

                <div class="contedor-btn-iniciar mt-3">
                    <button type="submit" class="btn btn-iniciar btn-primary btn-lg float-end" (click)="registrarPerfTemperatura()">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>
  
    


