<div class="contenedor-sp1">

    <br />
    <br />
    <div align="center">
    <img class="cen" src="../../../assets/Img/SP_Gidemp3.jpg" alt="banner">
    </div>
  
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <!--    <a href="#" class="navbar-brand">Instituciones</a>-->
          <div class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="/instituciones" class="nav-link"> Instituciones </a>
            </li>      
            <li class="nav-item">
              <a routerLink="/desarrollo" class="nav-link"> Equipo de Desarrollo </a>
            </li>
            <li class="nav-item">
              <a routerLink="/sobre-el-proyecto" class="nav-link"> Sobre el Proyecto </a>
            </li>
            <li class="nav-item">
              <a routerLink="/agradecimientos" class="nav-link">Agradecimientos</a>
            </li>
          </div>        

        </nav>

     
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                ASTIN
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">


                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">Programador ASTIN</a>
                        <p>NOMBRE<br>
                           ROL<br>
                           CORREO<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>
             
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
               GIDEM
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">Programador ASTIN</a>
                        <p>NOMBRE<br>
                           ROL<br>
                           CORREO<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>

               
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               SIA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                
                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">Programador SIA</a>
                        <p>NOMBRE<br>
                           ROL<br>
                           CORREO<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               UNIVERSIDAD AUTONOMA DEL CAUCA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">RIKY DAVID IDROBO BOLAÑOZ</a>
                        <p>TESISTA INVESTIGADOR<br>
                           davididrobob@gmail.com<br>
                           riky.idrobo.b@uniautonoma.edu.co<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              CDM
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
              
                
                <div class="our-services">
                  <div class="container">
                    <div class="row">


                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">DIEGO FERNANDO ESTACIO MARTINEZ</a>
                        <p>SEMILLERO<br>
                           ANALISTA Y DESARROLLADOR<br>
                           emdiego2@gmail.com<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">OMAR ROMERO SANCHEZ</a>
                        <p>SEMILLERO<br>
                           DESARROLLADOR<br>
                           havilladiego@misena.edu.co<br>
                           https://www.linkedin.com/in/hugo-armando-villadiego-arroyo-265b19210/<br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


                

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               GIDIME
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                
                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">Programador GIDIME</a>
                        <p>NOMBRE<br>
                           ROL<br>
                           CORREO<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               TECNOPARQUE NODO BOGOTA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                
                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <a href="">Programador TECNOPARQUE</a>
                        <p>NOMBRE<br>
                           ROL<br>
                           CORREO<br>
                           LINKEDIN<br></p>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      
      
      <!--  <div align="center">-->
        <img class="centroimg" src="../../../assets/Img/SP_Banner.jpg" alt="banner"> 
        <p class="centro"><small>Servicio Nacional de Aprendizaje SENA<br /> 
          Regional Valle Calle 52 No 2 Bis 15, Cali, Colombia.<br />  
          Centro Nacional de Asistencia Técnica a la Industria ASTIN</small></p>
  
        </div>
      
  
   