<div class="contenedor-sp1">

    <br />
    <br />
    <div align="center">
    <img class="cen" src="../../../assets/Img/SP_Gidemp3.jpg" alt="banner">
    </div>
  
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <!--    <a href="#" class="navbar-brand">Instituciones</a>-->
          <div class="navbar-nav mr-auto">
            <li class="nav-item">
              <a routerLink="/instituciones" class="nav-link"> Instituciones </a>
            </li>      
            <li class="nav-item">
              <a routerLink="/desarrollo" class="nav-link"> Equipo de Desarrollo </a>
            </li>
            <li class="nav-item">
              <a routerLink="/sobre-el-proyecto" class="nav-link"> Sobre el Proyecto </a>
            </li>
            <li class="nav-item">
              <a routerLink="/agradecimientos" class="nav-link">Agradecimientos</a>
            </li>
          </div>        

        </nav>

     
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                ASTIN
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">


                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-6">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-6">
                        <div class="nom">
                        <a>MANUEL ALEJANDRO HURTADO GOMEZ</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           ASESOR EXPERTO<br>
                           mahurtado59@misena.edu.co<br>
                           
                           <a href="https://www.linkedin.com/in/manuel-alejandro-hurtado-gomez-712aa91a1" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>
                           <!--https://www.linkedin.com/in/manuel-alejandro-hurtado-gomez-712aa91a1/<br>-->
                          
                          </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-6">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-6">
                        <div class="nom">
                        <a>SOFIA FLOREZ MUÑOZ</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           LIDER DE PROYECTO<br>
                           rflorezm@sena.edu.co<br>
                           <a href="https://www.linkedin.com/in/hugo-armando-villadiego-arroyo-265b19210/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>
                           <br>
                          
                          </p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                 
                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-6">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-6">
                        <div class="nom">
                        <a>ANA ISABEL CUASTUMAL AGUIRRE</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           SEMILLERO<br>
                           aicuastumal1@misena.edu.co<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-6">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-6">
                        <div class="nom">
                        <a>OSCAR ANDRES OCAMPO MENDOZA</a>
                      </div>
                        <p>INVESTIGADOR<br>
                           SEMILLERO<br>
                           oaocampo60@misena.edu.co<br>
                           <a href="https://www.linkedin.com/in/oscar-andres-ocampo-mendoza-7b40541b2/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>

                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>
                 


             
              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               UNIVERSIDAD AUTONOMA DEL CAUCA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>RIKY DAVID IDROBO BOLAÑOZ</a>
                      </div>
                        <p>TESISTA INVESTIGADOR<br>
                           davididrobob@gmail.com<br>
                           riky.idrobo.b@uniautonoma.edu.co<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
               UNIVERSIDAD SAN BUENAVENTURA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>DARIO FERNANDO GOMEZ ZUÑIGA</a>
                      </div>
                        <p>ASESOR EXTERNO<br>
                          gzdario@gmail.com<br>
                           <br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
         



          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              CDM
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
              
                             
                <div class="our-services">
                  <div class="container">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="service-box">
                          <div class="row">
                            <div class="col-5">
                              <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                            </div>
                            <div class="col-5">
                              <div class="nom">
                              <a>ALEXANDER HERNANDEZ MARTIN</a>
                            </div>
                              <p>INVESTIGADOR<br>
                                 ASESOR EXPERTO<br>
                                 jhmartin@sena.edu.co<br>
                                 <a href="https://www.linkedin.com/in/jhon-alexander-hern%C3%A1ndez-martin-ms-eng-140691132/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>       
                                 <br></p>
                            </div>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="service-box">
                          <div class="row">
                            <div class="col-5">
                              <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                            </div>
                            <div class="col-5">
                              <div class="nom">
                              <a>RITA RUBIELA RINCÓN BADILLO</a>
                            </div>
                              <p>INVESTIGADOR<br>
                                 ASESOR EXPERTO<br>
                                 rrrincon@sena.edu.co; ritarubielari@misena.edu.co<br>
                                 <a href="https://www.linkedin.com/in/rita-rubiela-rincon-badillo-33411819/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>       
                                 <br></p>
                            </div>
                          </div>
                        </div>
                      </div>        




                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>DIEGO FERNANDO ESTACIO MARTINEZ</a>
                      </div>
                        <p>SEMILLERO<br>
                           ANALISTA Y DESARROLLADOR<br>
                           emdiego2@gmail.com<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>OMAR ROMERO SANCHEZ</a>
                      </div>
                        <p>SEMILLERO<br>
                           DESARROLLADOR<br>
                           havilladiego@misena.edu.co<br>
                           <a href="https://www.linkedin.com/in/hugo-armando-villadiego-arroyo-265b19210/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>ROQUE PLAZA GUERRERO</a>
                      </div>
                        <p>SEMILLERO<br>
                           ANALISTA<br>
                           correo<br>
                           <a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                           <br></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


                

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                TECNOPARQUE NODO BOGOTA
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                
                <div class="col-md-6">
                  <div class="service-box">
                    <div class="row">
                      <div class="col-5">
                        <img  src="../../../assets/Img/Avatar.jpg" alt="Avatar"> 
                      </div>
                      <div class="col-5">
                        <div class="nom">
                        <a>HUGO ARMANDO VILLADIEGO ARROLLO</a>
                      </div>
                        <p>REALIDAD VIRTUAL<br>
                          SEMILLEROL<br>
                          havilladiego@misena.edu.co<br>
                          <a href="https://www.linkedin.com/in/hugo-armando-villadiego-arroyo-265b19210/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"> linkedin</i></a>        
                          <br></p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      
      
      <!--  <div align="center">-->
        <img class="centroimg" src="../../../assets/Img/SP_Banner.jpg" alt="banner"> 
        <p class="centro"><small>Servicio Nacional de Aprendizaje SENA<br /> 
          Regional Valle Calle 52 No 2 Bis 15, Cali, Colombia.<br />  
          Centro Nacional de Asistencia Técnica a la Industria ASTIN</small></p>
  
        </div>
      
  
        <style>
          #collapseBtn[aria-expanded="true"] {background-color:green;color:black}
          #collapseBtn[aria-expanded="false"] {background-color:gray;color:black}
          </style>