
.contenedor-sp1{
    margin:auto;
  //  margin-top: 500;
  //  margin-left: 600;
   // display: flex;
 //   justify-content: center;
    width:  66.5%;
    height: 50%;
    position: absolute;
    left: 18%;
    
   
  }

  .ctn-main {
    width: 82%;
    float: right;
}