<div class="divTable blueTable">
  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead">Número de Reporte</div>
      <div class="divTableHead">Fecha De Reporte</div>
      <div class="divTableHead">Unidad de Medida</div>
      <div class="divTableHead">Cantidad</div>
      <div class="divTableHead">Fecha de Inicio</div>
      <div class="divTableHead">fecha de finalización</div>
      <div class="divTableHead">Cantidad producida</div>
    </div>
  </div>
  <div class="divTableBody" *ngFor="let Product of reports">
    <div class="divTableRow">
      <div class="divTableCell">{{Product.id}}</div>
      <div class="divTableCell">{{Product.reportTime}}</div>
      <div class="divTableCell">{{Product.measureUnit}}</div>
      <div class="divTableCell">{{Product.amount}}</div>
      <div class="divTableCell">{{Product.startDate}}</div>
      <div class="divTableCell">{{Product.endDate}}</div>
      <div class="divTableCell">{{Product.producedAmount}}</div>
    </div>
  </div>
</div>
